@media screen and (max-width: 900px) {
    /* clock container */
    .clock {
        height: 60vw;
        width: 60vw;
    }
}

@media screen and (max-width: 500px) {
    /* clock container */
    .clock {
        height: 80vw;
        width: 80vw;
    }
}